In [ ]:
# pip install pandas

In [1]:
import pandas as pd

In [ ]:
# most important object in NumPy??????
# ndarray

import numpy as np

a = np.array([]) # passing lists into arrays
type(a)

# we move one step ahead
# passing in dictionaries

numpy.ndarray

In [23]:
data = {
    'student': ['idrees','samson','carron','yaya'],
    'math': [35,45,46,32],
    'english': [45,36,41,np.nan]
}

# things called data frames in pandas
data

df = pd.DataFrame(data)
print(df)
type(df)

  student  math  english
0  idrees    35     45.0
1  samson    45     36.0
2  carron    46     41.0
3    yaya    32      NaN

pandas.core.frame.DataFrame

In [31]:
data = {
    'math': [35,45,46,32]
}

df = pd.DataFrame(data)
print(df)
type(df)

   math
0    35
1    45
2    46
3    32

pandas.core.frame.DataFrame

In [34]:
df.head() # shows the first rows

dfstudent = df['math']
print(type(dfstudent))

dfstudentmean = df['math'].mean()
print(dfstudentmean)

<class 'pandas.core.series.Series'>
39.5